@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
body{
    margin: 0px;
    background-color: black;
    color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    background-color: rgb(3, 3, 3);
}
.navbar-left{
    padding-left: 50px;
    }
.navbar-right{
    padding-right: 20px;
    display:flex;
    flex-direction: row;
    align-items:  center;
}
.a-element{ 
    padding: 20px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px ;
    margin: 10px;
    font-weight: bold;
}
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    height: 85vh;
}
.home-left{
    width: 50vw;
    text-align: left;
    padding-left: 100px;
}
.logo-image{
    height: 80px;
    padding: 30px;
   
}
.home-right{
    width: 50vw;
    padding-left: 200px;


}
.nani{
    font-family: "Merriweather", serif;
    font-style: oblique;
    color:lightpink;

}
.para{
    font-family: "Edu TAS Beginner", cursive;
    font-style: italic;
    word-spacing: 2px;
}
.Services{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    padding: 30px;
}
.buddi{
    color: rgba(8, 236, 8, 0.977);
    font-family: "Rubik", sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 40px;
}
.Services-sub-cont{
    font-family: "Inconsolata", monospace;
    display: flex;
    flex-direction: row ;
   
}
.Services-card{
    font-family: "Inconsolata", monospace;
    border: 2px green solid;
    margin: 20px;
    padding:20px;
    width: 400px;

}
.nani2{
    font-family: "Lora", serif;
    font-size: 15px;
}
.sc-p{
    font-family: "Inconsolata", monospace;
    font-size: 15px;
}
.contact{
    text-align: center;
}
.contact-info{
    font-family: "Lora", serif;
    font-size: 15px;
}
.social-icon-img{
    padding: 20px;
    height: 40px;
}
.mani{
    height:50px;
     padding: 20px;
}
.test-logo{
   height: 50px;
}
